* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #424B54;
    font-size: 62.5%;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    font-size: 1.6em;
    height: 100%;
    width: 100%;
}

#map {
    bottom:0px;
    height: 100%;
    left: 362px;
    position: absolute;
    right: 0px;
}

.locations-view {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    max-height: 100vh;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 40%;
}

.location-list {
    height: 100%;
    overflow-y: scroll;
}

